{template "content","header"}
{template "content","banner"}
<div class="sidebar inner">
  	{template "content","left"}
    <div class="sb_box" >
	      	<div class="clear"></div>

        <div class="active" id="productlist">
			<ul class='list-none metlist'>
			{pc:content action="lists" catid="$catid" num="10" order="id DESC" page="$page"}
			{loop $data $r}
			<li class='list' style='width:220px; margin-left:22px; margin-right:22px;'><a href='{$r[url]}' title='{$r[title]}' target='_self' class='img'><img src='{thumb($r[thumb],150,450)}' alt='{$r[title]}' title='{$r[title]}' width='50' height='150' /></a><h3><a href='{$r[url]}' title='{$r[title]}' target='_self'>{$r[title]}</a></h3></li>
			{/loop}
			{/pc}
		<div class="clear"></div>
		</div>
		<div id="pages" class="text-c">{$pages}</div>
    </div>
    <div class="clear"></div>
</div>
{template "content","footer"}