{template "content","header"}
<div class="inner met_flash"><div class="flash">
{pc:get sql="SELECT * FROM rx_picture_data WHERE id=4"}
{loop $data $val}
<?php eval("\$pics = ".$val[pictureurls].";");?>
<?php foreach($pics as $pic){
	$ads[] = $pic[url];
}?>
{/loop}
{/pc}
<?php $ad_index_str = implode('|', $ads);?>
<script type="text/javascript">
var swf_width=972;
var swf_height=400;
var files='<?php echo $ad_index_str;?>';
var links='||';
var texts='';
var swfpath = '/statics/sf/flash02.swf';
var AutoPlayTime=6; //间隔时间：单位是秒
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value='+swfpath+'><param name="quality" value="high">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&AutoPlayTime='+AutoPlayTime+'">');
document.write('<embed src='+swfpath+' wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&AutoPlayTime='+AutoPlayTime+'" menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); 
document.write('</object>'); 
</script>
</div></div>


<div class="indx-pro">

    <div class="con" >


    {pc:get sql="SELECT * FROM rx_page WHERE catid=2"}
		{loop $data $val}
	        <div class="left dg dg2 fl" style="width:295px; ">
                         <h3 class="title"><a class="index_tit" href="http://www.rixiang-fj.com/list-2-1.html" title="About Us">About Us</a><a href="http://www.rixiang-fj.com/list-2-1.html" title="About Us"><span>公司简介</span></a></h3>
                         <div class="editor" style="color:#666666"><img alt="" src="/statics/sf/images/aboutus.jpg" style="height: 90px; float: left; margin: 5px 8px; width: 144px;" />
                         <span style="font-size: 13px">&nbsp; &nbsp; </span>
                         <span style="color:#696969;"><span style="font-size: 13px">
                         {str_cut(strip_tags($val[content]),530,"")}
                         </span></span><br />
</div>               
                         <div class="clear"></div>
		</div>
		{/loop}
		{/pc}
		

		<div class="mid dg dg2 fl" style="width:250px; border-right:1px solid #ededed; border-left:1px solid #ededed; padding-right:30px; padding-left:30px; margin:0 20px 0 30px;">
			<div class="indexborder">
              <h3 class="title"><a class="index_tit" href="http://www.rixiang-fj.com/list-27-1.html" title="Agent">Agent</a><a href="http://www.rixiang-fj.com/list-27-1.html" title="Agent"><span>招商代理</span></a></h3>
              <dl class="index_list 3">
				{pc:content action="lists" catid="27" num="2" siteid="$siteid" order="listorder ASC"}
				{loop $data $r}
                 <dd class="list">
                  <a href="{$r[url]}" title="{$r[title]}">[{$r[title]}]</span>
                  <p class="memopp">{str_cut(strip_tags($r[description]),200,"")}..</p>
				  </a>
                 </dd>
                {/loop}
                {/pc}
              </dl>
			</div>
         	<div class="clear"></div>
		</div>
   
		
		<div class="right dg fl" style="width:306px;">
                         <h3 class="title"><a class="index_tit" href="http://www.rixiang-fj.com/list-8-1.html" title="Products">Products</a><a href="http://www.rixiang-fj.com/list-8-1.html" title="Products"><span>产品展示</span></a></h3>
                         <dl class="product">
				{pc:content action="lists" catid="8" num="3" siteid="$siteid" order="listorder DESC, id DESC"}
				{loop $data $r}
                                 <dd class="product_list">
                                         <a href="{$r[url]}" class="imgWidth" taget="_blank" title="{$r[title]}"><img src="{thumb($r[thumb],150,450)}" width="50" height="60" alt="{$r[title]}" title="{$r[title]}"></img></a>
                                         <a href="{$r[url]}" class="aWidth" title="{$r[title]}">{str_cut($r[title],40)}</a>
                                 </dd>
 				{/loop}
 				{/pc}
                         </dl>               
                         <div class="clear"></div>
		</div>	
  		
		
    </div>
	
    
</div>
{template "content","footer"}