{template "content","header"}
{template "content","banner"}
<div class="sidebar inner">
  {template "content","left"}
    <div class="sb_box" >
	      	<div class="clear"></div>

        <div class="active" id="newslist">
			<ul class='list-none metlist'>
			{pc:content action="lists" catid="$catid" num="15" order="id DESC" page="$page"}
			<?php $nn=1;$cnt=count($data);?>
			{loop $data $r}
			<li class='list {if $nn==1}top{/if}'><span>[{date('Y-m-d',$r[inputtime])}]</span><a href='{$r[url]}' title='{$r[title]}' target='_self'>{str_cut(strip_tags($r[title]),100)}</a><p>{str_cut(strip_tags($r[description]),180,"...")}</p></li>
			<?php $nn++;?>
			{/loop}
			{/pc}
			</ul>
			<div id="pages" class="text-c">{$pages}</div>
		</div>
    </div>
    <div class="clear"></div>
	<div id="pages" class="text-c">{$pages}</div>
</div>
{template "content","footer"}